.container-parent {
    margin-top: 20px;
    height: 700px;
    width: 500px;
    border: 1px solid rgb(8, 8, 48);
    background:  #7aacc4;
 margin-bottom: 20px;
    border-radius: 10px;
  }
  h3{
      margin-left: 20px;
      margin-top: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
  }
  .button-parent{
      margin-left: 10px;
      border-radius: 25px;
      margin-top: 20px;
  }
 

.form-control.ng-touched.ng-invalid {
    border:1px solid red;
   }
   
   .container-child{
       margin-left: 150px;
   }
  .alert{
      color: red;
  }
  .form-control.ng-touched.ng-valid{
    border: 1px solid green;
    width: 300px important!;
}
.container-child
{
    margin-bottom: 10px;
}